- 
    var colors = [
        {
            name: "Dark Shade 100%"
            hex: "#1f2041"
            class: "dark-shade-100"
        },
        {
            name: "Dark Shade 75%"
            hex: "#1f2041"
            class: "dark-shade-75"
        },
        {
            name: "Dark Shade 50%"
            hex: "#1f2041"
            class: "dark-shade-50"
        },
        {
            name: "Dark Shade 25%"
            hex: "#1f2041"
            class: "dark-shade-25"
        },
        {
            name: "Dark Shade 5%"
            hex: "#1f2041"
            class: "dark-shade-5"
        },
        {
            name: "Purple"
            hex: "#BC9CFF"
            class: "purple"
        },
        {
            name: "Green"
            hex: "##6FCF97"
            class: "green"
        },
    ];

-
    var fonts = [
        {
            name: "H1"
            desc: "This one is the sub-section or widget title"
        },
        {
            name: "H2"
            desc: "Next one is the item title inside widgets"
        },
        {
            name: "H3"
            desc: "This is label or CTA text"
        },
        {
            name: "BODY"
            desc: "This is the body text which is used for most of the design, like paragraphs, lists, etc."
        }
    ]


doctype html
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../CSS/Colors_and_type.css")
    title UI-KIT
body
    header
        img(class="logo-48 colors-types-wrapper__logo" src="../logo.svg" alt="logo")
    main(class="colors-types-wrapper")
        section(class="colors")
            each item in colors
                + color(item.name, item.hex, item.class)
        section(class="types")
            each item in fonts
                + color(item.name, item.hex)
            